* {
    font-family: Arial, sans-serif;
}

p {
    color: rgb(2, 2, 66);
}

#main {
    background-color: rgb(143, 126, 126);
}

.yazi {
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

#main > p {
    font-size: 20px;
}

#main span {
    color: rgb(153, 9, 9);
}

p + h2 {
    color: rgb(90, 5, 90);
}

p ~ h2 {
    font-style: italic;
}

input[type="text"] {
    border: 3px solid rgb(0, 0, 0);
}

input[disabled] {
    background-color: rgb(4, 181, 42);
}

input[value="submit"] {
    background-color: rgb(214, 118, 118);
}

p:first-child {
    color: rgb(10, 50, 109);
}

p:last-child {
    border-radius: 10px;
}

p:nth-child(2) {
    color: rgb(0, 0, 0);
}

p:nth-of-type(2) {
    background-color: rgb(7, 189, 249);
}

p:first-of-type {
    border-left: 5px solid rgb(0, 0, 0);
}

p:last-of-type {
    padding: 15px;
}

div:only-of-type {
    border: 3px solid rgb(190, 183, 176);
}

p:hover {
    color: rgb(181, 3, 3);
}