.icon{
    background-color: #0d6efd;
    color: white;
    margin: 0px 0px 16px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 8px;
}
.desc{
    color: #212529;
    margin: 10px 0px 16px;
}
.call{
    color: #0D6efd;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.call:hover{
    color: #0655cb;
}