.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .iconDelete {
    color: red;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .iconEdit {
    color: blue;
    cursor: pointer;
  }
  